.App{
    height: 100vh;
}
.CMSHeader{
    font-size: 32px;
}
.CMSText{
    font-size: 16px;
}
label{
    color: #2a4365;
}
.boldLabel{
    color: #2a4365;
    font-weight: 500;
    font-size: 15px;
}
.aligned{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignEnd{
    display: flex;
    justify-content: end;
    align-items: center;
}
.alignStart{
    display: flex;
    justify-content: start;
    align-items: center;
}
.alignBetween{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.cursorpointer{
    cursor: pointer;
}
.appBgColor{
    background-color: #2a4365;
}